/* Remove margens padrão do navegador */
body {
    margin: 0;
}

/* Estilo do menu */
nav {
    background-color: black;   /* Fundo preto */
    width: 100%;               /* Ocupa toda a largura */
    padding: 20px;
    position: fixed; 
    top: 0;
}

/* Remove as bolinhas e deixa o menu horizontal */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;             /* Faz os itens ficarem lado a lado */
    justify-content: center;   /* Centraliza os itens */
}

/* Estilo dos itens */
nav li {
    margin: 0 20px;            /* Espaço entre os itens */
}

/* Links */
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

/* Efeito ao passar o mouse */
nav a:hover {
    color: greenyellow;
}

span{
    color: antiquewhite;
}

.categoria{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 30px;
    font-size: 30px;
}


.info{
    padding: 10px;
}
.card{
    background-color: #D9D9D9;
    width: 200px;
    text-align: center;
    border-radius: 16px;
   margin: 20px;
}


.card img{
    width: 100%;
    border-radius: 10px;

}
.card h3 {
    margin: 10px 0 5px;
}
.card p{
    font-size: 14px;
}

.divprin{
     display: flex;
}